.word-line {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 120px;
  margin-bottom: 20px;
}
.fd {
  width: 1200px;
  background-color: rgb(197, 240, 96);
  margin: 0 auto;
  padding: 20px;
}
.v {
  background-color: rgb(74, 147, 248);
}

/*      */

.letter {
  font-size: 300px; /* Увеличение размера букв в 3 раза */
  display: inline-block;
  transition: font-size 0.3s;
}

.full-word {
  font-size: 60px; /* Размер всего слова */
}
